<template>
  <v-dialog
    :value="todoItem"
    max-width="500"
  >
    <v-card>
      <v-form @keypress.enter="submit">
        <v-card-title>
          <span class="headline">{{ title }}</span>
        </v-card-title>
        <template v-if="action !== 'delete'">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="todoItem.title"
                  label="Title"
                  required
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="todoItem.subtitle"
                  label="Subtitle"
                  required
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="newTask"
                  :label="taskInputLabel"
                  required
                />
              </v-col>
            </v-row>

            <div class="task-button d-fl justify-center">
              <v-btn
                v-if="newTask && !activeTask"
                color="primary"
                @click="createTask"
              >
                <v-icon left>
                  mdi-plus
                </v-icon>
                Add Task
              </v-btn>
              <v-btn
                v-if="activeTask"
                :disabled="!newTask"
                color="primary"
                @click="editTask"
              >
                <v-icon left>
                  mdi-pencil
                </v-icon>
                Edit Task
              </v-btn>
            </div>

            <v-list>
              <v-list-item
                v-for="task in todoItem.tasks"
                :key="task.id"
                class="pa-0"
              >
                <v-list-item-content class="pl-2">
                  <v-checkbox
                    v-model="task.done"
                    :label="task.title"
                    class="ma-0"
                    hide-details
                  />
                </v-list-item-content>

                <v-list-item-action class="d-fl flex-row">
                  <v-btn
                    icon
                    @click="startEditTask(task)"
                  >
                    <v-icon color="grey lighten-1">
                      mdi-pencil
                    </v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    @click="deleteTask(task.id)"
                  >
                    <v-icon color="grey lighten-1">
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-container>

          <v-card-actions>
            <v-spacer />
            <v-btn
              text
              color="primary"
              @click="$emit('close')"
            >
              Close
            </v-btn>
            <v-btn
              color="primary"
              :disabled="todoItem.title.length < 2"
              type="submit"
              @click="$emit('change-todo', todoItem)"
            >
              Save
            </v-btn>
          </v-card-actions>
        </template>

        <template v-else>
          <v-card-text>
            Are you sure you want to delete "{{ todoItem.title }}"?
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              text
              color="primary"
              @click="$emit('close')"
            >
              Close
            </v-btn>
            <v-btn
              color="primary"
              type="submit"
              @click="$emit('change-todo', todoItem)"
            >
              Ok
            </v-btn>
          </v-card-actions>
        </template>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';

export default {
  name: 'TodoItemDialog',

  props: {
    todoItem: {
      type: [Object, null],
      required: true
    },

    action: {
      type: String,
      required: true
    },
  },

  data() {
    return {
      newTask: '',
      activeTask: null
    };
  },

  computed: {
    title() {
      const obj = {
        create: 'Create Todo',
        update: 'Edit Todo',
        delete: 'Delete Todo'
      };

      return obj[this.action];
    },

    taskInputLabel() {
      return this.activeTask ? 'Edit task' : 'Add new task';
    }
  },

  methods: {
    createTask() {
      this.todoItem.tasks.push({
        id: uuidv4(),
        title: this.newTask,
        done: false
      });
      this.newTask = '';
    },

    startEditTask(task) {
      this.newTask = task.title;
      this.activeTask = task;
    },

    editTask() {
      const index = this.todoItem.tasks.findIndex(item => item.id === this.activeTask.id);
      this.$set(this.todoItem.tasks[index], 'title', this.newTask);
      this.activeTask = null;
      this.newTask = '';
    },

    deleteTask(taskId) {
      const index = this.todoItem.tasks.findIndex(item => item.id === taskId);
      this.todoItem.tasks.splice(index, 1);
    },
  }
};
</script>

<style scoped>
.task-button {
  min-height: 36px;
}
</style>
