<template>
  <v-row>
    <v-col
      v-for="item in 5"
      :key="item"
      cols="12"
      lg="3"
      md="4"
      sm="12"
    >
      <v-card
        class="todo-item"
        elevation="2"
      >
        <v-card-title class="todo-item-title">
          <v-skeleton-loader
            type="text"
            width="45%"
          />
        </v-card-title>

        <v-card-subtitle>
          <v-skeleton-loader
            type="text"
            width="55%"
          />
        </v-card-subtitle>

        <v-card-text>
          <div
            v-for="i in 4"
            :key="i"
            class="d-fl align-end"
          >
            <v-checkbox
              class="mt-0"
              disabled
              hide-details
            />

            <v-skeleton-loader
              type="text"
              width="50%"
            />
          </div>
          <div class="d-fl mt-4 justify-end">
            <v-skeleton-loader
              type="text"
              width="50%"
            />
          </div>
        </v-card-text>

        <div class="todo-item-actions pa-4">
          <v-btn
            fab
            class="grey--text"
            x-small
          >
            <v-icon>
              mdi-pencil
            </v-icon>
          </v-btn>
          <v-btn
            fab
            class="grey--text"
            x-small
          >
            <v-icon>
              mdi-delete
            </v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'TodoItemSkeleton',
};
</script>

<style lang="scss" scoped>
  @import "~/assets/css/todoItem.scss";
</style>
