<template>
  <v-col
    cols="12"
    lg="3"
    md="4"
    sm="12"
  >
    <v-card
      class="todo-item"
      elevation="2"
    >
      <v-card-title class="todo-item-title">
        {{ todoItem.title }}
        <v-icon
          v-if="allTasksCompleted"
          small
          outlined
          color="green"
          class="ml-2"
        >
          mdi-checkbox-marked-circle
        </v-icon>
      </v-card-title>

      <v-card-subtitle>
        {{ todoItem.subtitle }}
      </v-card-subtitle>

      <v-card-text>
        <v-checkbox
          v-for="task in tasks"
          :key="task.id"
          v-model="task.done"
          :label="task.title"
          :class="['ma-2', {'todo-item-done': task.done}]"
          hide-details
          @change="changeTodoTaskStatus(
            {
              todoItemId: todoItem.id,
              taskId: task.id,
              status: task.done
            }
          )"
        />
        <div :class="['text-right', 'mt-4', {'green--text': allTasksCompleted}]">
          {{ completedTasksText }}
        </div>
      </v-card-text>

      <div class="todo-item-actions pa-4">
        <v-btn
          fab
          class="grey--text"
          x-small
          @click="$emit('show-dialog', { todoItem, action: 'update' })"
        >
          <v-icon>
            mdi-pencil
          </v-icon>
        </v-btn>
        <v-btn
          fab
          class="grey--text"
          x-small
          @click="$emit('show-dialog', { todoItem, action: 'delete' })"
        >
          <v-icon>
            mdi-delete
          </v-icon>
        </v-btn>
      </div>
    </v-card>
  </v-col>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep';

export default {
  name: 'TodoItem',

  props: {
    todoItem: {
      type: Object,
      required: true
    }
  },

  computed: {
    tasks() {
      return cloneDeep(this.todoItem.tasks);
    },

    allTasksCompleted() {
      return this.tasks.length && this.tasks.every(item => item.done);
    },

    completedTasksText() {
      if (!this.tasks.length) {
        return 'There is no tasks yet';
      }

      if (this.tasks.every(item => !item.done)) {
        return 'No completed tasks';
      }

      if (this.allTasksCompleted) {
        return 'All tasks are completed!';
      }

      const completedTasks = this.tasks.filter(item => item.done);
      const percent = (completedTasks.length / this.tasks.length) * 100;

      if (percent <= 40) {
        return 'A few tasks are completed';
      }

      if (percent > 41 && percent <= 60) {
        return 'Half of the tasks are completed';
      }

      if (percent > 60) {
        return 'Most of the tasks are completed';
      }

      return `${completedTasks.length} of ${this.tasks.length} tasks are completed`;
    },
  },

  methods: {
    changeTodoTaskStatus({ todoItemId, taskId, status }) {
      this.$store.dispatch('todos/changeTodoTaskStatus', { todoItemId, taskId, status });
    }
  }
};
</script>

<style lang="scss">
  @import "~/assets/css/todoItem.scss";
</style>
