<template>
  <v-app>
    <v-app-bar app>
      <div class="display-1 ma-auto">
        Nuxt Todo List
      </div>
    </v-app-bar>

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <v-footer app>
      <div class="ma-auto">
        &copy; Serg Mukhin, 2020
      </div>
    </v-footer>

    <div
      v-show="showLoading"
      class="loading"
    >
      <v-progress-circular
        :size="70"
        :width="7"
        color="primary"
        indeterminate
      />
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',

  computed: {
    showLoading() {
      return this.$store.state.app.globalLoading;
    }
  }
};
</script>

<style lang="scss">
  @import '~/assets/css/layout.scss';
</style>
