<template>
  <div>
    <div class="d-fl justify-space-between align-center">
      <h1 class="h1">
        Todos
      </h1>
      <v-btn
        color="primary"
        @click="showDialog({ action: 'create'})"
      >
        <v-icon left>
          mdi-plus
        </v-icon>
        Add Todo
      </v-btn>
    </div>

    <TodoItemsSkeleton v-if="$fetchState.pending" />

    <template v-else>
      <v-row
        v-if="todos && todos.length"
        class="px-2"
      >
        <TodoItem
          v-for="item in todos"
          :key="item.id"
          :todo-item="item"
          @show-dialog="showDialog"
        />
      </v-row>

      <div
        v-else-if="todos"
        class="empty-todos display-3 text-center d-fl justify-center align-center"
      >
        Create your first Todo
      </div>
    </template>

    <TodoItemDialog
      v-if="activeTodo"
      :todo-item="activeTodo"
      :action="action"
      @close="activeTodo = null"
      @change-todo="changeTodo"
    />
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';
import cloneDeep from 'lodash/cloneDeep';
import TodoItem from '~/components/TodoItem';
import TodoItemDialog from '~/components/TodoItemDialog';
import TodoItemsSkeleton from '~/components/TodoItemsSkeleton';
import { TASK } from '~/constants';

export default {
  name: 'Index',

  components: {
    TodoItem,
    TodoItemsSkeleton,
    TodoItemDialog
  },

  data() {
    return {
      activeTodo: null,
      action: '',
    };
  },

  async fetch() {
    await this.$store.dispatch('todos/getTodos');
  },

  computed: {
    todos() {
      return this.$store.state.todos.todos;
    }
  },

  methods: {
    showDialog({ todoItem, action }) {
      this.activeTodo = todoItem ? cloneDeep(todoItem) : cloneDeep(TASK);
      this.action = action;
    },

    async changeTodo(todoItem) {
      this.activeTodo = null;
      if (!todoItem.id) {
        todoItem.id = uuidv4();
      }
      await this.$store.dispatch(`todos/${this.action}Todo`, todoItem);
    },
  }
};
</script>

<style scoped>
.empty-todos {
  height: 60vh;
}
</style>
